<div [formGroup]="formGroup" class="form-group">
    <label *ngIf="hasLabel" [attr.for]="question.key"><strong>{{question.label}}</strong></label>
  
    <div [ngSwitch]="question.controlType">

        <input *ngSwitchCase="'textbox'" [id]="question.key" class="form-control" [formControlName]="question.key" [type]="question.controlType" placeholder="{{question.label}}" (change)="onTextChange($event)">

        <input *ngSwitchCase="'email'" [id]="question.key" class="form-control" [formControlName]="question.key" [type]="question.controlType" placeholder="{{question.label}}" (change)="onTextChange($event)">

        <textarea *ngSwitchCase="'multiline'" [id]="question.key" class="form-control" [formControlName]="question.key" (change)="onTextChange($event)"></textarea>

        <select *ngSwitchCase="'dropdown'" [id]="question.key" class="form-control" [formControlName]="question.key" (change)="onTextChange($event)">
            <option *ngFor="let opt of question.options" [value]="opt.code" [selected]="optionSelected(opt)">{{opt.description}}</option>
        </select>

        <div *ngSwitchCase="'optionselect'">
            <div *ngFor="let opt of question.options, let i = index" class="{{optionSelected(opt) ? 'picked ' : ''}}alert {{optionClass(i)}}" role="alert" (click)="selectOption(opt)">{{opt.description}}</div>
        </div>
    </div> 
  
    <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
