<div [formGroup]="formGroup" class="form-group">
    <label *ngIf="hasLabel" [attr.for]="question.key"><strong>{{question.label}}</strong></label>
  
    <div [ngSwitch]="question.controlType">

        <input *ngSwitchCase="'textbox'" [id]="question.key" class="form-control" [formControlName]="question.key" [type]="question.type" placeholder="{{question.label}}">


        <select *ngSwitchCase="'dropdown'" [id]="question.key" class="form-control" [formControlName]="question.key">
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <div *ngSwitchCase="'optionselect'">
            <div *ngFor="let opt of question.options" class="alert alert-primary" role="alert">{{opt.description}}</div>
        </div>
    </div> 
  
    <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
