<tracker-progress></tracker-progress>
<div class="content-wrapper">
    <h3>{{ title }}</h3>
    <!--<div *ngIf="!atStart && !atEnd" class="question-block">-->
    <div class="question-block">
        <div class="content-wrapper">
            <div class="alert alert-intro" role="alert">
                <div class="form-group">
                    <h5><strong>{{ subtitle }}</strong></h5>
                </div>
            </div>
        </div>

        <form *ngIf="formGroup" [formGroup]="formGroup">
            <div *ngFor="let question of questionsToDisplay">

                <div class="question-block">
                    <!-- captions are optional for certain questions -->
                    <div *ngIf="question.caption">{{ question.caption }}</div>
                    <div *ngFor="let mq of question.items">
                        <!-- There should be some form of inline ability -->
                        <!-- otherwise we layout items on separate lines -->
                        <div class="form-row">
                            <mf-question [question]="mq" [formGroup]="formGroup" (valueChanged)="valueChanged($event)"></mf-question>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>    
</div>
<tracker-buttons></tracker-buttons>