/* You can add global styles to this file, and also import other style files */
pre {
    font-size: 1rem;
    background-color: darkslateblue;
    color: white;
    padding: 2px 2px;
    margin: 0.25 0;
    text-align: center;
}
